@{
    Layout = "~/Views/Shared/_ViewStartLanding.cshtml";
    ViewBag.Title = "Welcome to PhotoShr.";    
}

<style>
html {
 background: url(@Url.Content("~/Images/welcome.jpg")) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {padding:0; margin:0;}

h1{position:absolute;width:100%;font-family:Helvetica,Arial,sans-serif;font-size:2em;padding:0.5em 0;margin-top:30%;margin-bottom:10%;color:#333;
font-weight:normal;text-align:center;background-color:#fff;background-color:rgba(255,255,255,0.8);z-index:2;}
</style>



<h1>@ViewBag.Message</h1>
